node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env*.local
.vscode
.idea
*.md
tests
.github
Dockerfile*
docker-compose*
.dockerignore
coverage
.nyc_output
dist
build
*.log
.DS_Store
.eslintcache
.cache
yarn-error.log
*.tsbuildinfo
.vercel
